# Innomatics Research Labs â€“ Advanced GenAI Internship
## Food Delivery Data Analysis

This notebook loads CSV, JSON, and SQL datasets, merges them using LEFT JOINs, and performs analysis required for the entrance test.

## 1. Import Libraries

In [1]:
import pandas as pd
import sqlite3

## 2. Load Datasets

In [3]:
orders = pd.read_csv('orders.csv')
users = pd.read_json('users.json')

conn = sqlite3.connect(':memory:')
with open('restaurants.sql', 'r') as f:
    conn.executescript(f.read())

restaurants = pd.read_sql('SELECT * FROM restaurants', conn)

orders.head(), users.head(), restaurants.head()

(   order_id  user_id  restaurant_id  order_date  total_amount  \
 0         1     2508            450  18-02-2023        842.97
 1         2     2693            309  18-01-2023        546.68
 2         3     2084            107  15-07-2023        163.93
 3         4      319            224  04-10-2023       1155.97
 4         5     1064            293  25-12-2023       1321.91

                   restaurant_name
 0               New Foods Chinese
 1  Ruchi Curry House Multicuisine
 2           Spice Kitchen Punjabi
 3          Darbar Kitchen Non-Veg
 4       Royal Eatery South Indian  ,
    user_id    name       city membership
 0        1  User_1    Chennai    Regular
 1        2  User_2       Pune       Gold
 2        3  User_3  Bangalore       Gold
 3        4  User_4  Bangalore    Regular
 4        5  User_5       Pune       Gold,
    restaurant_id restaurant_name  cuisine  rating
 0              1    Restaurant_1  Chinese     4.8
 1              2    Restaurant_2   Indian     4.1
 2              3    Restaurant_3  Mexican     4.3
 3              4    Restaurant_4  Chinese     4.1
 4              5    Restaurant_5  Chinese     4.8)

## 3. Merge Datasets (LEFT JOIN)

In [4]:
df = orders.merge(users, on='user_id', how='left')
df = df.merge(restaurants, on='restaurant_id', how='left')

df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

## 4. Key Analysis

In [5]:
# Total orders by Gold members
gold_orders = df[df['membership'] == 'Gold']
total_gold_orders = gold_orders.shape[0]

# Total revenue in Hyderabad
hyderabad_revenue = df[df['city'] == 'Hyderabad']['total_amount'].sum()

# Distinct users
distinct_users = df['user_id'].nunique()

# Average order value for Gold members
gold_aov = gold_orders['total_amount'].mean()

# Orders with rating >= 4.5
high_rating_orders = df[df['rating'] >= 4.5].shape[0]

# Top revenue city among Gold members
top_gold_city = gold_orders.groupby('city')['total_amount'].sum().idxmax()
orders_top_gold_city = gold_orders[gold_orders['city'] == top_gold_city].shape[0]

total_gold_orders, round(hyderabad_revenue), distinct_users, round(gold_aov,2), high_rating_orders, top_gold_city, orders_top_gold_city

(4987, 1889367, 2883, np.float64(797.15), 3374, 'Chennai', 1337)

## 5. Save Final Dataset

In [6]:
df.to_csv('final_food_delivery_dataset.csv', index=False)
'Saved final_food_delivery_dataset.csv'

'Saved final_food_delivery_dataset.csv'